*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;

}
body {
    background-color: #fff;
    color: #202124;
    font-size: 15px;
    margin: 0;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
  }
 #btn {
    margin-left: 30px;
    margin-top: 13px;
    font-size: 20px;
    width:45px;
    height: 39px;
    color: 5f6368;
    /* border: 2px solid black; */
    text-align: center;
    padding-top: 10px;
    opacity: 0.8;
}

 .menubar{
     height: 7vh;
 }
 
#check{
    display: none;
}
#btn:hover{
    background-color:rgb(224, 219, 219);
    border-radius: 50%;
}
.text{
    position: relative;
    bottom: 20px;
    margin-left: 30px;
}
#icons-text{
    margin-left: 30px;
}
#logoimg {
    position: relative;
    bottom: 40px;
    margin-left: 90px;
}
.firsticon .tooltiptext{
    visibility: hidden;
    position: absolute;
    top: 60px;
    border: 1px solid black;
    width: 50px;
    text-align: center;
    padding-top: 2px;
    font-size: 15px;
    padding-bottom: 4px;
    height: 25px;
}
.firsticon:hover .tooltiptext{
    visibility: visible;
}
.menu-bar .menubar1{
    visibility: hidden;
    position: absolute;
    top: 55px;
    left: 10px;
    background-color: rgb(100, 98, 98);
    color: white;
    font-family: sans-serif;
    width: 78px;
    text-align: center;
    padding-top: 4px;
    font-size: 12px;
    padding-bottom: 4px;
    z-index: 1;
    border-radius: 5px;
}
.menu-bar:hover .menubar1{
    visibility: visible;
}
.firsticon h2{
    position: relative;
    bottom: 95px;
    margin-left: 150px;
    font-weight: 100;
    font-size: 20px;
}
 /* #searchbtn{
    position: relative;
    bottom: 160px;
    margin-left: 300px;
    width: 400px;
    height: 7vh;
    text-align: left;
    border-radius: 6px;
    border-style: none;
    padding-left: 50px;
    font-size: 17px;   
    font-weight: 100px;
}
.btnicon{
    position: relative;
    bottom: 125px;
    margin-left: 300px;
    z-index: 1;
    padding-left: 20px;
    font-size: 19px;
    font-weight: lighter;
    color: rgb(150, 146, 146);
}   
 */

 @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


 

 .height{
  height: 100vh;
 }
 

 .search{
 position: relative;
 bottom: 140px;
 box-shadow: none;
 margin-left: 170px;
 
   
 }

 .search input{

  height: 47px;
  text-indent: 25px;
  border: none;


 }


 .search input:focus{

  box-shadow: none;
  border: none;
  box-shadow:0px 0px 10px rgba(51, 51, 51, .1);



 }

 .search .fa-search{

  position: absolute;
  top: 13px;
  left: 30px;
  color:rgb(102, 100, 100) ;
  font-size: 20px;

 }
 #icons-text{
     width: 350px;
     position: absolute;
     margin-top: 10px;
     /* background-color: aqua; */
     margin-left: 0px;
 }
 #text{
     text-align: left;
     border-style: none;
     border-radius: 20px;
     width: 32rem;
     height:50px;
     background-color: white;
     margin-left: 0px;
     font-weight: 500;

 }
 #text:hover{
     background-color: rgb(207, 203, 203);
 }
 #icons-text i{
    margin-right: 40px;
    margin-left:40px;
    
 }
 #text1{
    text-align: left;
    border-style: none;
    border-radius: 20px;
    width: 32rem;
    height:50px;
    background-color: white;
    margin-left: 0px;
    font-weight: 500;

}
#text1:hover{
    background-color: rgb(207, 203, 203);
}
